<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Factspan Tech News</title>
        <link rel="icon" href="../static/icons/factspan_logo.png" type="image/x-icon"/>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
<body id="theBody">
    <div class="toppest-element"></div>
    <div class="navbar">
        <div class="primary-navbar">
            <a href="/"><img src="../static/icons/factspan_logo.png" alt="Factspan Tech News" class="logo"></a>
            <div class="navbar-buttons">
                <button class="our-services">
                    Services
                    <img src="../static/icons/dropdown.svg" alt="drop" class="dropdown">
                </button>
                <button class="subscribe" onclick="displaySubscribePopup()">Subscribe</button>
            </div>
        </div>
        <div class="services-extension">
            <a href="https://www.factspan.com/services/data-engineering/" class="services-list-items">Data Engineering</a>
            <a href="https://www.factspan.com/services/strategic-business-analytics/" class="services-list-items">Business Analytics</a>
            <a href="https://www.factspan.com/services/ai-ml/" class="services-list-items">Artifical Intelligence</a>
            <a href="https://www.factspan.com/services/cloud-data-build/" class="services-list-items">Cloud Data Build</a>
        </div>
        <div class="secondary-navbar">
            <p class="date">Showing All Results</b></p>
            <button class="change-date" onclick="showCalender()">
                Tap to change
                <img src="../static/icons/calender.svg" alt="Calender-icon" class="date">
            </button>
            <div class="calender">
                <form action="/" method="post">
                    <input type="date" name="date" class="date-set" placeholder="13/06/2002" value="2002-06-13">
                    <button type="submit" class="show-content">Show Content</button>
                </form>
            </div>            
        </div>
    </div>
    <div class="hot-service">
        <div class="slides">
            <div class="slide hot-service-slide">
                <img src="../static/icons/artifical_intelligence.png" alt="" class="evbex-bg-girl">
                <div class="overlay-for-hot-service slide"></div>
                <h2 class="flyer-text">Factspan Services</h2>
                <h1 class="evbex-newsletter common-side-margin">Artificial Intelligence & Machine Learning</h1>
                <p class="newsletter-description common-side-margin">
                    We embed intelligence into your business solutions by decoding and analyzing patterns in data.
                </p>
            </div>
            <div class="slide hot-service-slide">
                <img src="../static/icons/business_analytics.png" alt="" class="evbex-bg-girl">
                <div class="overlay-for-hot-service slide"></div>
                <h2 class="flyer-text">Factspan Services</h2>
                <h1 class="evbex-newsletter common-side-margin">Strategic Business Analytics</h1>
                <p class="newsletter-description common-side-margin">
                    Unravel the hidden wealth of your business data. Factspan is your answer.
                </p>
            </div>
            <div class="slide hot-service-slide">
                <img src="../static/icons/data_engineering.png" alt="" class="evbex-bg-girl">
                <div class="overlay-for-hot-service slide"></div>
                <h2 class="flyer-text">Factspan Services</h2>
                <h1 class="evbex-newsletter common-side-margin">Data Engineering</h1>
                <p class="newsletter-description common-side-margin">
                    Be it small or big, structured or unstructured, static or real-time, we help you build the data flow for effective decision making
                </p>
            </div>
            <div class="slide hot-service-slide">
                <img src="../static/icons/cloud.jpeg" alt="" class="evbex-bg-girl">
                <div class="overlay-for-hot-service slide"></div>
                <h2 class="flyer-text">Factspan Services</h2>
                <h1 class="evbex-newsletter common-side-margin">Cloud Computing & Data Build</h1>
                <p class="newsletter-description common-side-margin">
                    Unleash the power of your business data by making it available anywhere, anytime, and on anydevice
                </p>
            </div>
        </div>
        <div class="controls">
            <button id="1" class="slide-control"></button>
            <button id="2" class="slide-control"></button>
            <button id="3" class="slide-control"></button>
            <button id="4" class="slide-control"></button>
        </div>
    </div>
    <div class="posts">
        {% for news in newses %}
        <div class="post">
            <div class="post-container">
                    <h1 class="headline-of-post">{{news["article"]}} <p class="evbex-originals-txt"> | Factspan Originals</p></h1>
                <div class="image-and-content">
                    <!-- <img src='../static/images/{{news["image"]}}' alt="image of the post" class="post-img"> -->
                    <div class="total-content">                        
                        <p class="contents">
                            {{news["summary"]}}
                        </p>
                        <p class="link" hidden>
                            {{link}}
                        </p>
                        <p class="evbex-value" hidden>0</p>
                        <p class="source-date">{{news["date"]}}</p>
                        <p class="source-date">{{news["hashtags"][0]}}</p>
                        <p class="source-date">Category: {{news["category"]}}</p>
                    </div>
                </div>
                <div class="orginals"></div>
            </div>
            <div class="button-set">
                <form action="/blog/{{news['article']}}" target="_blank" method="post" value="asd">
                    <button class="linkedin-btn post-btn">
                        <p>View Full blog</p>
                    </button>
                </form>
                <a href='{{news["c2a_link"]}}' target="_blank" title='{{news["c2a_link"]}}'>
                    <button class="view-btn post-btn">
                        <p>Reference</p>
                        <img src="../static/icons/view-source.svg" alt="" class="copy">
                    </button>
                </a>
                <a href="https://twitter.com/intent/tweet?text={{news['article']}}+{{news['text'][:120]}}+...%0Alink: {{news['c2a_link']}}%0A%0AFor more Data related queries visit https://www.factspan.com/" target="_blank">
                    <button class="twitter-btn post-btn">
                        <p>Share on <p class="appName">Twitter</p></p>
                        <img src="../static/icons/twitter.svg" alt="" class="copy">
                    </button>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="dark-overlay"></div>
    <div class="subscribe-popup">
        <div class="popup-container">
            <div class="pop-title">
                <h2 class="main-title">Subscribe to our Newsletter!!</h2>
                <h3 class="sub-title">Get notified with fresh news</h3>
            </div>
            <form action="/subscribe" method="post">
                <div class="popup-body">
                    <div class="input-box">
                        <p class="box-title">Name</p>
                        <input type="text" name="name" class="box name" required>
                    </div>
                    <div class="input-box">
                        <p class="box-title">Mail Id</p>
                        <input type="text" name="mail" class="box mail" placeholder="eg : xyz@factpsan.com" required>
                        <!-- <input type="email" class="box" pattern=".+@globex\.com" required> -->
                    </div>
                    <p class="box-title error" style="font-weight:600;">*Invalid Mail Id</p>
                </div>
                <div class="popup-actions">
                    <button class="cancel-btn subscribe" onclick="hideSubscribePopup()">Cancel</button>
                    <button class="subscribe subscribe-on-popup">Subscribe</button>
                </div>
            </form>
        </div>
    </div>
    <p class="advar" hidden>{{ads}}</p>

    {% if subs==1 %}
    <div class="success-message">
        <div class="left-part">
            <img src="../static/icons/success.svg" alt="success" class="success">
        </div>
        <div class="right-part">
            <p class="success-title">Success!!</p>
            <p class="success-content">Your subscription has been added. You will be receiving our daily updates! Check it out!!</p>
            <button style="border: none; background: transparent;" onclick="closeSuccessNoti()"><img src="../static/icons/close-btn.svg" alt="X" class="success-close-btn"></button>
        </div>
    </div>
    {% elif subs==-1 %}
    <div class="success-message">
        <div class="left-part">
            <img src="../static/icons/success.svg" alt="success" class="success">
        </div>
        <div class="right-part">
            <p class="success-title">Success!!</p>
            <p class="success-content">Your subscription has been deleted. You will not be receiving our daily updates!</p>
            <button style="border: none; background: transparent;" onclick="closeSuccessNoti()"><img src="../static/icons/close-btn.svg" alt="X" class="success-close-btn"></button>
        </div>
    </div>
    {% endif %}
    <div class="unsubscribe-popup subscribe-popup">
        <div class="popup-container">
            <div class="pop-title">
                <h2 class="main-title">Unsubscribe Newsletter</h2>
                <h3 class="sub-title">You can subscribe again anytime later!!</h3>
            </div>
            <form action="/unsubscribe" method="post">
                <div class="popup-body">
                    <div class="input-box">
                        <p class="box-title">Enter your subscribed Mail Id</p>
                        <input type="text" name="mail" class="box mail" placeholder="eg : xyz@factpsan.com" required>
                        <!-- <input type="email" class="box" pattern=".+@globex\.com" required> -->
                    </div>
                    <p class="box-title error" style="font-weight:600;">*Invalid Mail Id</p>
                </div>
                <div class="popup-actions">
                    <button type="button" class="cancel-btn subscribe" onclick="hideUnsubscribePopup()">Cancel</button>
                    <button type="submit" class="subscribe subscribe-on-popup">Unsubscribe</button>
                </div>
            </form>
        </div>
    </div>
    <div class="footer">
        <p style="margin-bottom:10px;">Want to unsubscribe from our newsletter? <a href="#" onclick="displayUnsubscribePopup()"><u>Click here</u></a></p>
        <p>© 2023 Factspan Analytics Limited. All rights reserved.</p>
        <p><a href="">Privacy Policy</a> | <a href="">Terms & Conditions</a></p>
        <button class="back-to-top" onclick="goToTop()"><img src="../static/icons/up-arrow.svg" alt="" class="up-arrow"></button>
    </div>
    <script src="../static/js/script .js"></script>
</body>
</html>